<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Comparison Results</title>
  
  <!-- Change this out for CSS and JS as needed -->
  <link rel="stylesheet" type="text/css" href="css/search_product.css" />
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

</head>

<body>
 <h1>Display of Variant Comparisons</h1>
 <p>Results table - Start with just displaying two variants - MAKE THIS HIDDEN?? - OR IT's A WHOLE NEW DOCUMENT
        Can you have two separate results? - if you want to search just genes (show all the genes and mutations), or if you want to compare the variants -->
    Want there to be a table showing the shared mutations, and a table showing the different ones side by side
        JQuery UI - Accordian table drop down - may need to add names to each table row. 
        Probabily will remove the table style line
    If time, would like to display some sort of graphic
    Can possibly include some info on specific mutations (like EEK) 
    Describe Mutation type - deleted description from table header
    NO IMAGES OR COLOURS YET
    Explain why some genes say'various'

  </p><br>

  <label for="shared_mutations" id="shared_label"> Shared Mutations:</label><br>
  <table id="shared_table">
    <tr>
        <th>Gene</th> 
        <th>Protein Product</th>
        <th>Protein Length</th>
        <th>Mutation Type</th>
        <th>Event</th> 
    </tr>
    {% for entry in shared_list %}
    <tr>
        <td>{{ entry.gene }}</td>
        <td>{{ entry.product }}</td>
        <td>{{ entry.aa_length }}</td>
        <td>{{ entry.mutation }}</td>
        <td>{{ entry.event }}</td>
    </tr>
    {% endfor %}

  </table><br><br>
    
    <div class='row'> 
        <div class="column">
            <label for="compare_tableA" id="compareA_label"> Distinguishing Mutations found in {{ variantA }} first identified in {{ countryA }}</label><br>
            <table id="compare_tableA">
            <tr>
                <th>Gene</th> 
                <th>Protein Product</th>
                <th>Protein Length</th>
                <th>Mutation Type</th>
                <th>Event</th> 
            </tr>
            {% for entry in varA_list %}
            <tr>
                <td>{{ entry.gene }}</td>
                <td>{{ entry.product }}</td>
                <td>{{ entry.aa_length }}</td>
                <td>{{ entry.mutation }}</td>
                <td>{{ entry.event }}</td>
            </tr>
            {% endfor %}
            </table>
        </div>
        <div class="column">
            <label for="compare_tableB" id="compareB_label"> Distinguishing Mutations found in {{ variantB }} first identified in {{ countryB }}</label><br>
            <table id="compare_tableB">
            <tr>
                <th>Gene</th> 
                <th>Protein Product</th>
                <th>Protein Length</th>
                <th>Mutation Type</th>
                <th>Event</th> 
            </tr>
            {% for entry in varB_list %}
            <tr>
                <td>{{ entry.gene }}</td>
                <td>{{ entry.product }}</td>
                <td>{{ entry.aa_length }}</td>
                <td>{{ entry.mutation }}</td>
                <td>{{ entry.event }}</td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    
</body>
</html>