<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Comparison</title>
  <link rel="stylesheet" type="text/css" href="css/search_product.css" />
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
 <h1>Variant Comparison</h1>
 <h1 class="error"> {{ message }} </h1>
 <ul>      
    <li>Note that there are many mutations found on any given h-CoV-19 virus, these are specifically the <i>distinguishing</i>
    mutations that identify a given variant of concern.</li>
    <li>The 'Mutation Type' is denoted with 'aa' for amino acid replacement or 'del' for 
    nucleotide deletion.  </li>
    <li>Protein length is denoted as 'various' when there are alternate protein lengths depending on 
        proteolytic cleavage. </li>
 </ul>
 

  <label for="shared_mutations" id="shared_label"> Shared Mutations:</label><br>
  <table id="shared_table">
    <tr>
        <th>Gene</th> 
        <th>Protein Product</th>
        <th>Protein Length</th>
        <th>Mutation Type</th>
        <th>Event</th> 
    </tr>
    {% for entry in shared_list %}
    <tr>
        <td>{{ entry.gene }}</td>
        <td>{{ entry.product }}</td>
        <td>{{ entry.aa_length }}</td>
        <td>{{ entry.mutation }}</td>
        <td>{{ entry.event }}</td>
    </tr>
    {% endfor %}

  </table><br>
    
    <div class='row'> 
        <div class="column">
            <label for="compare_tableA" id="compareA_label"> Distinguishing Mutations found in {{ variantA }} first identified in {{ countryA }}</label><br>
            <table id="compare_tableA">
                <tr>
                    <th>Gene</th> 
                    <th>Protein Product</th>
                    <th>Protein Length</th>
                    <th>Mutation Type</th>
                    <th>Event</th> 
                </tr>
                {% for entry in varA_list %}
                <tr>
                    <td>{{ entry.gene }}</td>
                    <td>{{ entry.product }}</td>
                    <td>{{ entry.aa_length }}</td>
                    <td>{{ entry.mutation }}</td>
                    <td>{{ entry.event }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="column">
            <label for="compare_tableB" id="compareB_label"> Distinguishing Mutations found in {{ variantB }} first identified in {{ countryB }}</label><br>
            <table id="compare_tableB" class="table_right">
                <tr>
                    <th>Gene</th> 
                    <th>Protein Product</th>
                    <th>Protein Length</th>
                    <th>Mutation Type</th>
                    <th>Event</th> 
                </tr>
                {% for entry in varB_list %}
                <tr>
                    <td>{{ entry.gene }}</td>
                    <td>{{ entry.product }}</td>
                    <td>{{ entry.aa_length }}</td>
                    <td>{{ entry.mutation }}</td>
                    <td>{{ entry.event }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>